body {
    background-image: url('background.png'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    background-color: #000000;
    font-family: 'Arial', cursive, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #f0f8ff;
    margin-bottom: 40px;
}

.button-container, .color-picker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Styles for the color picker */
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px; /* Width of the color picker */
    height: 200px; /* Height of the color picker */
    border: none;
    border-radius: 50%; /* Makes the color picker round */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type="color"]:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}

